# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Environment variables
.env

# Django stuff:
db.sqlite3
*.log
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store
